/* bubbles: https://codepen.io/bajzarpa/pen/woYNXp */
.canvas {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bubble {
    display: block;
    border-radius: 100%;
    opacity: 0.8;
    position: absolute;
}

.bubble:nth-child(1) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 66px;
    height: 66px;
    left: 71vw;
    bottom: 33vh;
    -webkit-animation: move1 infinite 8s;
    animation: move1 infinite 8s;
}

@-webkit-keyframes move1 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 34vh;
        transform: translate(-34px, 0);
        opacity: 0;
    }
}

@keyframes move1 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 34vh;
        transform: translate(-34px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(2) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 95px;
    height: 95px;
    left: 85vw;
    bottom: 59vh;
    -webkit-animation: move2 infinite 13s;
    animation: move2 infinite 13s;
}

@-webkit-keyframes move2 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 55vh;
        transform: translate(68px, 0);
        opacity: 0;
    }
}

@keyframes move2 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 55vh;
        transform: translate(68px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(3) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 58px;
    height: 58px;
    left: 75vw;
    bottom: 50vh;
    -webkit-animation: move3 infinite 3s;
    animation: move3 infinite 3s;
}

@-webkit-keyframes move3 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 40vh;
        transform: translate(0px, 0);
        opacity: 0;
    }
}

@keyframes move3 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 40vh;
        transform: translate(0px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(4) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 25px;
    height: 25px;
    left: 23vw;
    bottom: 78vh;
    -webkit-animation: move7 infinite 14s;
    animation: move7 infinite 14s;
}

.bubble:nth-child(5) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 93px;
    height: 93px;
    left: 24vw;
    bottom: 89vh;
    -webkit-animation: move5 infinite 6s;
    animation: move5 infinite 6s;
}

@-webkit-keyframes move5 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 17vh;
        transform: translate(67px, 0);
        opacity: 0;
    }
}

@keyframes move5 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 17vh;
        transform: translate(67px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(6) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 56px;
    height: 56px;
    left: 61vw;
    bottom: 91vh;
    -webkit-animation: move6 infinite 11s;
    animation: move6 infinite 11s;
}

@-webkit-keyframes move6 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 13vh;
        transform: translate(163px, 0);
        opacity: 0;
    }
}

@keyframes move6 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 13vh;
        transform: translate(163px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(7) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 59px;
    height: 59px;
    left: 90vw;
    bottom: 10vh;
    -webkit-animation: move7 infinite 15s;
    animation: move7 infinite 15s;
}

@-webkit-keyframes move7 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 49vh;
        transform: translate(37px, 0);
        opacity: 0;
    }
}

@keyframes move7 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 49vh;
        transform: translate(37px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(8) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 6px;
    height: 6px;
    left: 34vw;
    bottom: 18vh;
    -webkit-animation: move8 infinite 12s;
    animation: move8 infinite 12s;
}

@-webkit-keyframes move8 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 5vh;
        transform: translate(143px, 0);
        opacity: 0;
    }
}

@keyframes move8 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 5vh;
        transform: translate(143px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(9) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 45px;
    height: 45px;
    left: 99vw;
    bottom: 85vh;
    -webkit-animation: move9 infinite 4s;
    animation: move9 infinite 4s;
}

@-webkit-keyframes move9 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 1vh;
        transform: translate(174px, 0);
        opacity: 0;
    }
}

@keyframes move9 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 1vh;
        transform: translate(174px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(10) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 85px;
    height: 85px;
    left: 28vw;
    bottom: 3vh;
    -webkit-animation: move10 infinite 12s;
    animation: move10 infinite 12s;
}

@-webkit-keyframes move10 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 26vh;
        transform: translate(-42px, 0);
        opacity: 0;
    }
}

@keyframes move10 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 26vh;
        transform: translate(-42px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(11) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 91px;
    height: 91px;
    left: 2vw;
    bottom: 25vh;
    -webkit-animation: move11 infinite 5s;
    animation: move11 infinite 5s;
}

@-webkit-keyframes move11 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 44vh;
        transform: translate(185px, 0);
        opacity: 0;
    }
}

@keyframes move11 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 44vh;
        transform: translate(185px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(12) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 82px;
    height: 82px;
    left: 10vw;
    bottom: 20vh;
    -webkit-animation: move12 infinite 11s;
    animation: move12 infinite 11s;
}

@-webkit-keyframes move12 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 74vh;
        transform: translate(142px, 0);
        opacity: 0;
    }
}

@keyframes move12 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 74vh;
        transform: translate(142px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(13) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 70px;
    height: 70px;
    left: 34vw;
    bottom: 79vh;
    -webkit-animation: move13 infinite 7s;
    animation: move13 infinite 7s;
}

@-webkit-keyframes move13 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 22vh;
        transform: translate(-85px, 0);
        opacity: 0;
    }
}

@keyframes move13 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 22vh;
        transform: translate(-85px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(14) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 5px;
    height: 5px;
    left: 30vw;
    bottom: 65vh;
    -webkit-animation: move14 infinite 10s;
    animation: move14 infinite 10s;
}

@-webkit-keyframes move14 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 90vh;
        transform: translate(108px, 0);
        opacity: 0;
    }
}

@keyframes move14 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 90vh;
        transform: translate(108px, 0);
        opacity: 0;
    }
}



.bubble:nth-child(15) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 57px;
    height: 57px;
    left: 70vw;
    bottom: 51vh;
    -webkit-animation: move15 infinite 5s;
    animation: move15 infinite 5s;
}

@-webkit-keyframes move15 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 64vh;
        transform: translate(-6px, 0);
        opacity: 0;
    }
}

@keyframes move15 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 64vh;
        transform: translate(-6px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(16) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 13px;
    height: 13px;
    left: 87vw;
    bottom: 60vh;
    -webkit-animation: move16 infinite 14s;
    animation: move16 infinite 14s;
}

@-webkit-keyframes move16 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 89vh;
        transform: translate(-46px, 0);
        opacity: 0;
    }
}

@keyframes move16 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 89vh;
        transform: translate(-46px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(17) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 27px;
    height: 27px;
    left: 7vw;
    bottom: 66vh;
    -webkit-animation: move17 infinite 8s;
    animation: move17 infinite 8s;
}

@-webkit-keyframes move17 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 61vh;
        transform: translate(-45px, 0);
        opacity: 0;
    }
}

@keyframes move17 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 61vh;
        transform: translate(-45px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(18) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 59px;
    height: 59px;
    left: 16vw;
    bottom: 69vh;
    -webkit-animation: move18 infinite 3s;
    animation: move18 infinite 3s;
}

@-webkit-keyframes move18 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 0vh;
        transform: translate(-90px, 0);
        opacity: 0;
    }
}

@keyframes move18 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 0vh;
        transform: translate(-90px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(19) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 90px;
    height: 90px;
    left: 83vw;
    bottom: 45vh;
    -webkit-animation: move19 infinite 12s;
    animation: move19 infinite 12s;
}

@-webkit-keyframes move19 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 26vh;
        transform: translate(32px, 0);
        opacity: 0;
    }
}

@keyframes move19 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 26vh;
        transform: translate(32px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(20) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 71px;
    height: 71px;
    left: 71vw;
    bottom: 24vh;
    -webkit-animation: move20 infinite 13s;
    animation: move20 infinite 13s;
}

@-webkit-keyframes move20 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 54vh;
        transform: translate(-15px, 0);
        opacity: 0;
    }
}

@keyframes move20 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 54vh;
        transform: translate(-15px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(21) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 72px;
    height: 72px;
    left: 35vw;
    bottom: 7vh;
    -webkit-animation: move21 infinite 13s;
    animation: move21 infinite 13s;
}

@-webkit-keyframes move21 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 56vh;
        transform: translate(-77px, 0);
        opacity: 0;
    }
}

@keyframes move21 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 56vh;
        transform: translate(-77px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(22) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 100px;
    height: 100px;
    left: 93vw;
    bottom: 63vh;
    -webkit-animation: move22 infinite 5s;
    animation: move22 infinite 5s;
}

@-webkit-keyframes move22 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 69vh;
        transform: translate(67px, 0);
        opacity: 0;
    }
}

@keyframes move22 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 69vh;
        transform: translate(67px, 0);
        opacity: 0;
    }
}

@media screen and (max-width: 876px) {
    .bubble {
        display: none;
    }
}